<div class="py-5 border-bottom header-top bg-neutral-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list list-row flex-wrap gap-3 align-items-center justify-content-between">
          <li>
            <a href="index-2.html" class="link d-inline-block">
              <img src="assets/img/favicon.png" alt="logo" class="logo d-xl-none">
              <img src="assets/img/logo.png" alt="logo" class="logo d-none d-xl-inline-block">
            </a>
          </li>
         
          <li class="d-none d-md-block">
            <a href="contact.html" class="link btn bg-primary-300 :bg-primary-300 clr-neutral-0 :clr-neutral-0 fw-600 py-4 px-8 rounded-pill"> Submit Property </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<header class="header header--sticky border-bottom bg-neutral-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="menu d-lg-flex justify-content-lg-between align-items-lg-center">
          <div class="menu-mobile-nav d-flex align-items-center justify-content-between py-3 py-lg-0 order-lg-2">
            <button class="menu-toggle w-10 h-10 p-0 border-0 lh-1 bg-primary-50 clr-primary-500 transition :clr-primary-50 :bg-primary-500 rounded-1 flex-shrink-0 order-2 order-lg-1 d-lg-none">
              <span class="material-symbols-outlined mat-icon fs-28"> menu </span>
            </button>
            <ul class="list list-row gap-4 flex-wrap align-items-center order-1">
              
              <li>
                <div class="dropdown">
                  <a href="#" class="link d-grid place-content-center w-10 h-10 rounded-circle bg-primary-5p clr-neutral-500" data-bs-toggle="dropdown" data-bs-offset="0,16">
                    <span class="material-symbols-rounded mat-icon position-relative"> notifications <span class="d-inline-block position-absolute top-0 end-0 w-2 h-2 rounded-circle bg-primary-300"></span>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-xl-end p-0 border border-neutral-30">
                    <div class="p-4 p-xxl-6 max-width">
                      <h5 class="mb-4"> Notifications </h5>
                      <ul class="list gap-2">
                        <li>
                          <a href="#" class="link d-flex gap-4 dropdown-item px-0 px-md-4">
                            <div class="flex-shrink-0 d-none d-sm-block">
                              <img src="assets/img/user-3.jpg" alt="image" class="img-fluid w-12 h-12 rounded-circle objec-fit-cover">
                            </div>
                            <div class="flex-grow-1 white-space-normal notifications-content">
                              <h6 class="mb-0">Peter Parker</h6>
                              <p class="fs-14 clr-neutral-500 mb-1"> New message alert! @trending </p>
                              <span class="d-block fs-12 clr-neutral-100"> 6 Sec ago </span>
                            </div>
                          </a>
                        </li>
                        
                        
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <a href="#" class="link d-inline-block" data-bs-toggle="dropdown" data-bs-offset="0,16">
                    <img src="assets/img/user-1.jpg" alt="image" class="img-fluid w-10 h-10 rounded-circle objec-fit-cover">
                  </a>
                  <div class="dropdown-menu dropdown-menu-end p-0 border border-neutral-30">
                    <div class="p-6">
                      <div class="d-flex align-items-center gap-4 max-width">
                        <img src="assets/img/user-1.jpg" alt="image" class="img-fluid w-12 h-12 rounded-circle object-fit-cover flex-shrink-0">
                        <div class="flex-grow-1">
                          <h5 class="mb-0">Peter Parker</h5>
                          <span class="d-block fs-14"> Los Angeles, CA </span>
                        </div>
                      </div>
                      <div class="hr-dashed mt-4 mb-2"></div>
                      <ul class="list">
                        <li>
                          <a href="profil" class="link d-flex align-items-center gap-3 clr-neutral-400 dropdown-item px-2">
                            <span class="material-symbols-outlined mat-icon fs-28 flex-shrink-0"> person </span>
                            <span class="d-block fs-14 fw-medium flex-grow-1"> Profil </span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="link d-flex align-items-center gap-3 clr-neutral-400 dropdown-item px-2">
                            <span class="material-symbols-outlined mat-icon fs-28 flex-shrink-0"> event_note </span>
                            <span class="d-block fs-14 fw-medium flex-grow-1"> Mes Annonces </span>
                          </a>
                        </li>
                        
                      </ul>
                      <div class="hr-dashed my-2"></div>
                      <ul class="list">
                        
                        <li>
                          <a href="#" class="link d-flex align-items-center gap-3 clr-neutral-400 dropdown-item px-2">
                            <span class="material-symbols-outlined mat-icon fs-28 flex-shrink-0"> exit_to_app </span>
                            <span class="d-block fs-14 fw-medium flex-grow-1"> Déconnection </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <ul class="list list-lg-row menu-nav order-lg-1">
            <li class="menu-list">
              <a href="" class="link menu-link "> Acceuil </a>
            </li>
            <li class="menu-list">
              <a href="#" class="link menu-link "> Nos hébergements </a>
            </li>
            <li class="menu-list">
              <a href="about" class="link menu-link "> A propos </a>
            </li>
            <li class="menu-list">
              <a href="Contact" class="link menu-link "> Contact </a>
            </li>
          
          <li class="menu-list">
            <a href="profil" class="link menu-link "> Tableau de bord </a>
          </li>
            
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
